body {
    background-color: rgb(53, 53, 212);
}

form {
    background-color: white;
    width: 20%;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 10px;
}

#email {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(86, 159, 243);
    outline: none;
}

#pass {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(192, 185, 185);
    outline: none;
}

.in {
    padding: 10px;
    width: 275px;
    background: rgba(64, 64, 255, 0.965);
    border: none;
    color: white;
    border-radius: 5px;
}

.fcb {
    padding: 8px;
    width: 275px;
    background: rgba(46, 46, 114, 0.965);
    border: none;
    color: white;
    border-radius: 5px;
}

.forgot {
    margin-left: 230px;
    color: rgb(52, 52, 232);
    margin-top: 5%;
}

h2 {
    margin-top: -8%;
    padding: 10px;
}

a {
    text-decoration: none;
}

.link {
    padding: 10px;
    color: white;
    background: green;
    border-radius: 7px;
}
.top {
    margin-right: 180px;
}